 <%- include ('partials/mainAdminHeader.ejs') -%>	
      
      <!-- Dark table -->
      <div class="row">
        <div class="col">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
              <% if ( success ) { %>
              <h3 class="text-white mb-0" id="www"> <%= success %> </h3>
               <% } %>
               <div>
                <% if ( deletess ) { %>
              <h3 class="text-white mb-0" id="www"> <%= deletess %> </h3>
               <% } %>
               <% if ( deletedUser ) { %>
              <h3 class="text-white mb-0" id="www"> <%= deletedUser %> </h3>
               <% } %>
               </div>
                
            </div>
            
          </div>
        </div>
      </div>
        <div class="row">
        <div class="col">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-dark table-flush">
                <thead class="thead-dark" >
                  <tr >
                    <th scope="col" class="sort"></th>
                    <th scope="col" class="sort" data-sort="name"></th>
                    <th scope="col" class="sort" data-sort="budget">Buyers Name</th>
                    <th scope="col" class="sort" data-sort="status">Category</th>
                    <!-- <th scope="col">Users</th> -->
                    <th scope="col" class="sort" data-sort="completion">Amount</th>
                    <th scope="col" class="sort" data-sort="completion">Date</th>
                    <th scope="col" class="sort" data-sort="completion">Status</th>
                    <th scope="col" class="sort" data-sort="completion">View Details</th>
                    
                  </tr>
                </thead>
                <tbody class="list" style="color: white; font-weight: bold;">
                   <% if(locals.results && forms) {%>
                      <% Object.values(results).forEach(function(product) {%>
                  <tr>
                     <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false" style="background-color: black;color: white;">
                          <i class="fas fa-ellipsis-v" style="color: white;"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" >
                          <button class="dropdown-item" data-toggle="modal" data-target="#edit<%= product.id %>"
                              style="background-color: rgb(136, 235, 97); color: white; font-weight: bold; margin-bottom: 5px;">Delivery Status</button>
                          <!-- <a class="dropdown-item" href="/adminDeleteForm/product/<%= product.pid %>/<%= product.farmer_id %>" style="background-color: rgb(211, 79, 79); color: white; font-weight: bold; margin-bottom: 5px;">Delete Product</a> -->
                        
                        </div>
                      </div>
                    </td>
                    <th scope="row">
                      <div class="media align-items-center">
                        <!-- <div class="media-body">
                          <span class="name mb-0 text-sm"> <%= product.id %> </span>
                        </div> -->
                      </div>
                    </th>
                    <td class="budget"> <%= product.buyerName %>
                      <br/> <small>  <%= product.buyerEmail %> </small>
                      <br/> <small>  <%= product.buyerNum %> </small>
                    
                    </td>
                    <td>
                      <%= product.category %>
                    </td>
                   
                    <td>
                      #<%= product.amount %>
                    </td>
                    <td>
                      <script>
                        var orderDateV =  new Date(`<%= product.deposit_date %>`);
                        var date = orderDateV.getFullYear() + '-' + (orderDateV.getMonth() + 1) + '-' + orderDateV.getDate()
                        document.write(date)
                      </script>
                    </td>
                   
                    <td>
                        <%= product.status %> 
                    </td>

                    <td>
                        <button class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#view<%= product.id %>"> View Orders </button>
                    </td>
                   
                  </tr>

                  <div class="modal fade"  id="edit<%= product.id %>"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"> Add Delivery Status </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">


                          <form  action="/addDelivery" method="POST"> 
                              <div class="form-group">
                                <input type="hidden" value="<%= product.id %>" name="statusID" />
                                <input type="hidden" value="<%= product.buyerEmail %>" name="email" />
                                <input type="hidden" value="<%= product.buyerName %>" name="name" />
                                <label for="">Select Status </label>
                                <select class="form-control" required name="status">
                                    <!-- <option></option> -->
                                    <option>Pending</option>
                                    <option>Processing</option>
                                    <option>Deliver</option>
                                    <option>Failed Transaction</option>
                                </select>
                                
                              </div>
                                
                              <button type="submit" class="btn btn-primary"> Update </button>
                          </form>



                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>



                  <div class="modal fade" id="view<%= product.id %>"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Orders Details</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">

                          <div class="card mb-3" >
                            <div class="row g-0">
                              <!-- <div class="col-md-4">
                                <img src="../../<%= product.imagesName %>" style=" max-width: 280px; height: 300px;" alt="<%= product.category %>">
                              </div> -->
                              <!-- <div class="col">
                                <div class="card-body" style="margin-left: 5px;">
                                  <h4 class="card-title" style="color: black; font-weight: bold;"> FARMER </h4>
                                  <p  class="card-text"><b style="color: black; font-weight: bold;">  Name: </b><%= product.farmerName %> </p>
                                  <p  class="card-text"><b style="color: black; font-weight: bold;">  Number: </b><%= product.farmerNum %> </p>
                                  <p  class="card-text"><b style="color: black; font-weight: bold;">  Email: </b> <%= product.farmerEmail %></p>
                                  <p  class="card-text"><b style="color: black; font-weight: bold;">  Address: </b> <%= product.farmerAddr %></p>
                                </div>
                              </div> -->

                              <div class="col">
                                <div class="card-body" style="margin-left: 5px;">
                                  <h4 class="card-title" style="color: black; font-weight: bold;"> PRODUCT DETAILS </h4>
                                  <p  class="card-text"><b style="color: black; font-weight: bold;">  Category: </b><%= product.category %> </p>
                                  <p  class="card-text"><b style="color: black; font-weight: bold;">  Amt Paid: </b> #<%= product.amount %></p>
                                  <p  class="card-text"><b style="color: black; font-weight: bold;">  Status: </b><%= product.status %>  </p>
                                  <p  class="card-text"><b style="color: black; font-weight: bold;">  Farmer ID (Owner): </b><%= product.farmer_id %> </p>
                                </div>
                              </div>

                              <div class="col">
                                <div class="card-body" style="margin-left: 5px;">
                                  <h4 class="card-title" style="color: black; font-weight: bold;"> BUYER DETAILS </h4>
                                  <!-- <p class="card-text" style="color: black;  text-align: justify;"> <%= product.desc %> .</p> -->
                                  <p  class="card-text"><b style="color: black; font-weight: bold;">  Date: </b>
                                    <script>
                                      var orderDateV =  new Date(`<%= product.deposit_date %>`);
                                      var date = orderDateV.getFullYear() + '-' + (orderDateV.getMonth() + 1) + '-' + orderDateV.getDate()
                                      document.write(date)
                                    </script>
                                  </p>
                                  <p  class="card-text"><b style="color: black; font-weight: bold;">  Name: </b><%= product.buyerName %> </p>
                                  <p  class="card-text"><b style="color: black; font-weight: bold;">  Number: </b><%= product.buyerNum %> </p>
                                  <p  class="card-text"><b style="color: black; font-weight: bold;">  Email: </b> <%= product.buyerEmail %></p>
                                  <p  class="card-text"><b style="color: black; font-weight: bold;">  Address: </b> <%= product.others %></p>
                                </div>
                              </div>

                            </div>
                          </div>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>

                   <%})%>
                <%}else{%>
                     <p style="color: black; font-weight: bold;">No Orders yet</p>
                <%}%>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <%- include ('partials/adminFooter.ejs') -%>
